body{
  margin:0;
  background-color: #f6f8fa;
  font-family: 'Work Sans', sans-serif;
  color:rgb(77, 80, 83);
}

#encode-button,
#decode-button,
#start-button,
#convert-button,
#translate-button {
  background-color: #276ef1;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  min-width: 100px;
  max-width: 100px;
      
}

#reset-button {
background-color: #f12e27;
color: #fff;
font-size: 16px;
line-height: 1.4;
padding: 10px;
border-radius: 3px;
cursor: pointer;
border: none;
font-family: inherit;
margin-left: 20px;
min-width: 100px;
max-width: 100px;

}

.util{
  font-size: 30px;
}



.dropdown-content a {
display: block;
text-decoration: none;
min-width: 180px;
padding-left: 10px;
padding-right: 10px;
line-height: 40px;
color:#555555;
background-color: #f6f8fa;
box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
}

.dropdown-content{
display: none;
}

.dropdown-content a:hover{
  color:#388bfd;
  background-color: #e7e7e7; 
}

.dropdown-nav:hover .dropdown-content{
    display: block;
    position: absolute;
} 

.dropdown-nav:hover{
cursor: pointer;
color:#388bfd;
}



.navbar {
/*added flex wrap..change in all*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    line-height: 45px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 10%), -1px -1px 2px rgb(0 0 0 / 8%);
    
}

.input-output{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: calc(100vh - 150px);
}

.dropdown-arrow{
height: 10px;
width: 10px
}

textarea{
  padding: 10px;
  border-radius: 5px;
}


.footer-wrapper{
  min-height: 45px;
}

.non-footer {
  min-height: calc(100vh - 17px);
}

.footer-logo{
  padding-bottom: 10px;
}

.footer-logo img{
  height: 40px;
  width: 40px;
  filter: grayscale(100%);
}

.footer-logo img:hover{
  filter: grayscale(0%);
  
}


a{
 text-decoration: none;
 color:rgb(77, 80, 83);
}



@media screen and (max-width: 475px) {

  textarea{
    
    height: 120px;
    width: 320px;
    

  }

  .util{
    font-size: 22px;
  }

  


#reset-button,
#translate-button{
    
    padding: 7px ;
    width: 90px;
  }

  
}






